doctype html 
html(lang="es")
    head
        style 
            include style.css
        title error 
    body 
        h1 Ha ocurrido un error, ya existe un usuario con ese nombre 
    
        a(href="/registro") Volver al registro 